<h1>Cocktail Items</h1>

<table style="width:100%">
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Buy Cost</th>
    <th>Sell Price</th>
    <th>Mark Up</th>
    <th>Producer</th>
    <th>Stock Level</th>
  </tr>
<% for cocktail_item in @cocktail_items %>
  <tr>
    <td><a href="/cocktail-items/<%= cocktail_item.id %>"><%= cocktail_item.product_name %></td>
    <td><% for word in cocktail_item.description.split(".")   %>
      • <%= word %>.<br>
        <% end  %>
    </td>
    <td><%= cocktail_item.quantity %></td>
    <td>£<%= cocktail_item.convert_price_buy %></td>
    <td>£<%= cocktail_item.convert_price_sell %></td>
    <td>£<%= cocktail_item.mark_up.round(2) %></td>
    <td><%= cocktail_item.producer.first.producer_name %></td>
    <td><%= cocktail_item.stock_level()%></td>
  </tr>
  <% end %>
</table>
