<h2>Cocktail Items</h2>

<table style="width:100%">
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Buy Cost</th>
    <th>Sell Price</th>
    <th>Mark Up</th>
    <th>Producer</th>
    <th>Stock Level</th>
  </tr>
<% for cocktail_item in @cocktail_items %>
  <tr>
    <td><a href="/cocktail-items/<%= cocktail_item.id %>"><%= cocktail_item.product_name %></td>
    <td><%= cocktail_item.description %></td>
    <td><%= cocktail_item.quantity %></td>
    <td><%= cocktail_item.buy_cost %></td>
    <td><%= cocktail_item.sell_price %></td>
    <td><%= cocktail_item.mark_up %></td>
    <td><%= cocktail_item.producer.first.producer_name %></td>
    <td><%= "LOW STOCK" if cocktail_item.low_stock%></td>
  </tr>
  <% end %>
</table>
